/* @font-face {
    font-family: 'Essence';
    src: url('fonts/ar-essence.ttf') format('ttf');
  } */
     
     .logo {
      margin: 0;
      padding: 0;
  }
  header #head {
      display: flex;
      flex-direction: row;
      display: grid;
       grid-template-columns: 2fr 8fr;
  }
  
